## (c) Copyright 2006 International Game Technology */
##
##   $Revision: 3$
##
##   Purpose:
##      Game configuration file.
##
##   Modifications:
##      Author            Date          Explanation
##      ---------------   ------------  ------------
##      Nicole Beaulieu   Apr 09, 2002  Created
##

[General]
Theme=Resources/Generic/Base/Configuration/Themes/<%= themereg %>
StageCount=<%= stage_count %>
Paytable=Resources/Generic/Base/Configuration/Paytables/<%= paytable %>
Config=Resources/Generic/Base/Configuration/Paytables/<%= paytable_config %>

<% scanner.stages.each do |stage| %>
<%   StageConfig.config(stage.name) do %>
## #######################
## stage definition.
## #######################
[Stage<%= stage.index %>]
Name=<%= name %>
Description=<%= description %>
UtilityMode=<%= utility_mode %>
Type=<%= type%>

## Presentation specific items
PresentationScript=<%= root_dir %>/Scripts/Presentation/<%= presentation_script %>

## Flow-specific items
## add your game specific file here if needed
FlowScript=<%= root_dir %>/Scripts/Flow/<%= flow_script %>
<%   end  %>
<% end %>
